.nav {
  height: 14vh;
  position: sticky;
  border-bottom: 2px solid #565454;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  z-index: 1000000;
  display: flex;
  align-items: center;
}
.nav_logo {
  height: auto;
  background-blend-mode: color-burn;
  width: 170px;
  object-fit: contain;
}
